<!-- Toast for successful change of password -->
<div id="alert-change-password" class="alert alert-success">
  {{ 'Usermgmnt_pwd_update' | translate }}
</div>

<!-- Modal for changing password  -->
<div id="modal-change-password" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">{{ 'Usermgmnt_pwd_change' | translate }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-4">
              {{ 'Usermgmnt_user' | translate }}
            </label>
            <div class="col-sm-8">
              <span *ngIf="user">{{ user.username }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">
              {{ 'Usermgmnt_pwd_new' | translate }}
            </label>
            <div class="col-sm-8">
              <input
                id="input-change-password"
                autocomplete="off"
                maxlength="30"
                type="password"
                placeholder="{{ 'Usermgmnt_pwd' | translate }}"
                [(ngModel)]="formData.password"
                (input)="onTextChange()"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">
              {{ 'Usermgmnt_pwd_confirm' | translate }}
            </label>
            <div class="col-sm-8">
              <input
                autocomplete="off"
                maxlength="30"
                type="password"
                placeholder="{{ 'Usermgmnt_pwd' | translate }}"
                [(ngModel)]="formData.confirmPassword"
                (input)="onTextChange()"
              />
            </div>
          </div>
          <div class="modal-footer">
            <span class="red" *ngIf="errorMessage != ''">
              {{ errorMessage }}
            </span>
            <button
              type="button"
              class="btn btn-primary"
              (click)="changePassword()"
            >
              {{ 'Submit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
