<div id="modal-collect-asup" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">{{ 'Collect_modal_title' | translate }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="item">
              <label
                ><strong class="section-head">{{
                  'Collect_modal_proj_details' | translate
                }}</strong></label
              >
            </div>
            <div class="item">
              <span
                ><strong>{{ 'Collect_modal_purpose' | translate }}</strong
                ><span class="red">&nbsp;*</span></span
              >
              <select
                [(ngModel)]="collectOptions.purpose"
                (change)="checkPurpose()"
              >
                <option
                  *ngFor="let purpose of collectOptions.purposes"
                  [ngValue]="purpose"
                  >{{ purpose.title | translate }}</option
                >
              </select>
              <span class="purpose-note" *ngIf="showPurposeNote">{{
                'Collection_modal_purposenote' | translate
              }}</span>
            </div>
            <div class="item" *ngIf="collectOptions.purpose.code == 5">
              <span
                ><strong>{{
                  'Collection_modal_opportunity' | translate
                }}</strong></span
              >
              <input type="text" [(ngModel)]="collectOptions.opportunityId" />
            </div>
            <div class="item" *ngIf="collectOptions.purpose.code == 3">
              <span
                ><strong>{{
                  'Collection_modal_case' | translate
                }}</strong></span
              >
              <input type="text" [(ngModel)]="collectOptions.caseId" />
            </div>
            <div class="item">
              <span
                ><strong>{{
                  'Collection_modal_comments' | translate
                }}</strong></span
              >
              <textarea [(ngModel)]="collectOptions.comments"></textarea>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="item">
              <label
                ><strong class="section-head">{{
                  'Collection_modal_projgroup' | translate
                }}</strong></label
              >
            </div>
            <div class="item">
              <span
                ><strong>{{ 'Collection_modal_purpose' | translate }}</strong
                ><span class="red">&nbsp;*</span></span
              >
              <input type="text" [(ngModel)]="collectOptions.projectName" />
              <span class="validation" *ngIf="validation.projectName">{{
                'Clone_error_msg' | translate
              }}</span>
              <span class="validation" *ngIf="validation.projectNameLength">{{
                'Collection_modal_length_validationerr' | translate
              }}</span>
            </div>
            <div class="item">
              <span
                ><strong>{{
                  'Collection_modal_group' | translate
                }}</strong></span
              >
              <div class="group-input-wrap">
                <input type="text" [(ngModel)]="collectOptions.group" />
                <div
                  class="dropdown-wrap"
                  (click)="showDropdown = !showDropdown"
                >
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <span class="validation" *ngIf="validation.groupName">{{
                  'Collection_modal_grouperr' | translate
                }}</span>
              </div>
              <div class="groups-dropdown" *ngIf="showDropdown">
                <div
                  class="group-option"
                  *ngFor="let group of groups"
                  (click)="setGroup(group)"
                >
                  {{ group }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <span
          [ngClass]="{
            green: messages.type == 'success',
            red: messages.type == 'error'
          }"
          >{{ messages.status }}</span
        >
        <button
          class="btn btn-primary"
          (click)="collect()"
          [disabled]="!collectOptions.purpose.title"
        >
          {{ 'Collect_now' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
