/* Modal Header*/
.modal-dialog {
  width: 1000px;
}
.modal-content {
  height: auto;
}
.modal .modal-header {
  background: #173e77;
  padding: 10px 15px;
}
.modal .modal-header button,
.modal .modal-header h4 {
  color: #fff;
}
.modal .modal-header button {
  opacity: 0.75;
}
.modal .modal-header h4 {
  background-color: none;
  font-size: 15px;
}
strong {
  font-weight: 500;
}
strong.section-head {
  font-weight: 600;
}
span.red {
  font-size: 16px;
  font-weight: 600;
  color: red;
}
/* Modal Body */
.modal-body {
  font-size: 14px;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  padding: 15px 0;
}
/* Modal Footer */
.modal-footer {
  padding: 10px 15px;
}

table tr th,
table tr td {
  font-size: 14px;
}
table tr td input[type='text'],
table tr td input[type='password'],
table tr td input[type='integer'],
table tr td input[type='undefined'],
table tr td select {
  width: 100px;
  height: 23px;
  margin: 0;
  padding: 3px;
  border: 1px solid rgb(169, 169, 169);
}
table tr th.tools,
table tr td.tools {
  width: 70px;
}
table tr th.type,
table tr td.type {
  width: 120px;
}
table tr th.subtype,
table tr td.subtype {
  width: 120px;
}
table tr th.persona,
table tr td.persona {
  width: 120px;
}

.error {
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: red;
}
