<div id="modal-update-credentials" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">{{ 'Update_credentials' | translate }}</h4>
      </div>

      <div class="modal-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="tools">
                <div class="custom-checkbox">
                  <input
                    type="checkbox"
                    [(ngModel)]="selectAll"
                    (change)="changeInSelectAll()"
                  />
                  <label></label>
                </div>
              </th>
              <th *ngIf="collectType == 'device-based'" class="type">
                {{ 'Type' | translate }}
              </th>
              <th *ngIf="collectType == 'device-based'" class="subtype">
                {{ 'Sub Type' | translate }}
              </th>
              <th *ngIf="collectType == 'device-based'" class="persona">
                {{ 'Persona' | translate }}
              </th>
              <th *ngIf="collectType == 'solution-based'" class="category">
                {{ 'Category' | translate }}
              </th>
              <ng-container *ngFor="let header of headers">
                <th
                  *ngIf="header.key != 'hostname' && header.key != 'privatekey'"
                  [class]="header.key"
                  [hidden]="!headerState[header.key]"
                >
                  {{ header.tooltip | translate }}
                </th>
              </ng-container>
              <th
                *ngIf="collectType == 'device-based'"
                [hidden]="!headerState['enable_sudo']"
                class="enable_sudo"
              >
                {{ 'Enable Sudo' | translate }}
              </th>
              <th
                *ngIf="collectType == 'device-based'"
                [hidden]="!headerState['enable_sudo']"
                class="sudo_password"
              >
                {{ 'Sudo Password' | translate }}
              </th>
              <th
                *ngIf="collectType == 'device-based'"
                [hidden]="!headerState['enable_mfa']"
                class="enable_mfa"
              >
                {{ 'Enable MFA' | translate }}
              </th>
              <th
                *ngIf="collectType == 'device-based'"
                [hidden]="!headerState['enable_mfa']"
                class="mfa_key"
              >
                {{ 'SSH MFA Key Path' | translate }}
              </th>
              <th
                *ngIf="collectType == 'device-based'"
                [hidden]="!headerState['enable_autodiscover']"
                class="enable_autodiscover"
              >
                {{ 'Enable Auto-discovery' | translate }}
              </th>
              <th
                *ngIf="collectType == 'device-based'"
                [hidden]="!headerState['enable_autodiscover']"
                class="sid_list"
              >
                {{ 'SID List' | translate }}
              </th>
            </tr>

            <ng-container *ngFor="let obj of distinctRows; let i = index">
              <tr>
                <td class="tools">
                  <div class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="obj.selected" />
                    <label></label>
                  </div>
                </td>

                <td *ngIf="collectType == 'device-based'" class="type">
                  {{ obj.type.title | translate }}
                </td>

                <td *ngIf="collectType == 'device-based'" class="subtype">
                  {{ obj.subtype.title | translate }}
                </td>

                <td *ngIf="collectType == 'device-based'" class="persona">
                  <select [(ngModel)]="obj.persona">
                    <option value="No Change">{{
                      'No Change' | translate
                    }}</option>
                    <option
                      *ngFor="let persona of obj.personas"
                      [ngValue]="persona"
                      >{{ persona.title | translate }}</option
                    >
                  </select>
                </td>

                <td *ngIf="collectType == 'solution-based'" class="category">
                  {{ obj.category | translate }}
                </td>

                <ng-container *ngFor="let header of headers">
                  <td
                    *ngIf="
                      header.key != 'hostname' && header.key != 'privatekey'
                    "
                    [hidden]="!headerState[header.key]"
                    class="header.key"
                  >
                    <input
                      [type]="header.type"
                      [(ngModel)]="obj[header.key]['value']"
                      [disabled]="obj[header.key]['disabled']"
                    />
                  </td>
                </ng-container>

                <td
                  *ngIf="collectType == 'device-based'"
                  [hidden]="!headerState['enable_sudo']"
                  class="enable_sudo"
                >
                  <div class="custom-checkbox">
                    <input
                      type="checkbox"
                      [(ngModel)]="obj.sudo_enabled.value"
                      [disabled]="obj.enable_sudo.disabled"
                    />
                    <label></label>
                  </div>
                </td>

                <td
                  *ngIf="collectType == 'device-based'"
                  [hidden]="!headerState['enable_sudo']"
                  class="sudo_password"
                >
                  <input
                    autocomplete="off"
                    type="password"
                    [(ngModel)]="obj.sudo_password.value"
                    [disabled]="!obj.sudo_enabled.value"
                  />
                </td>

                <td
                  *ngIf="collectType == 'device-based'"
                  [hidden]="!headerState['enable_mfa']"
                  class="enable_mfa"
                >
                  <div class="custom-checkbox">
                    <input
                      type="checkbox"
                      [(ngModel)]="obj.mfa_enabled.value"
                      [disabled]="obj.enable_mfa.disabled"
                    />
                    <label></label>
                  </div>
                </td>

                <td
                  *ngIf="collectType == 'device-based'"
                  [hidden]="!headerState['enable_mfa']"
                  class="mfa_key"
                >
                  <input
                    type="text"
                    [(ngModel)]="obj.mfa_key.value"
                    [disabled]="!obj.mfa_enabled.value"
                  />
                </td>

                <td
                  *ngIf="collectType == 'device-based'"
                  [hidden]="!headerState['enable_autodiscover']"
                  class="enable_autodiscover"
                >
                  <div class="custom-checkbox">
                    <input
                      type="checkbox"
                      [(ngModel)]="obj.autodiscover_enabled.value"
                      [disabled]="obj.enable_autodiscover.disabled"
                    />
                    <label></label>
                  </div>
                </td>

                <td
                  *ngIf="collectType == 'device-based'"
                  [hidden]="!headerState['enable_autodiscover']"
                  class="sid_list"
                >
                  <input
                    type="text"
                    [(ngModel)]="obj.sid_list.value"
                    [disabled]="!obj.autodiscover_enabled.value"
                  />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <span class="error">{{ error }}</span>
        <button class="btn btn-primary" (click)="update()">
          {{ 'Update' | translate }}
        </button>
        <button class="btn btn-primary" data-dismiss="modal">
          {{ 'Close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
