<oc-modal-notification
  [id]="'remove-credential'"
  [notification]="notification"
  (onConfirmed)="confirmDeleteCredential($event)"
></oc-modal-notification>
<oc-credential></oc-credential>

<oc-tour-credential-management
  [hidden]="!tourStarted"
  (toggleTour)="toggleTour($event)"
  [grid]="grid"
></oc-tour-credential-management>

<!-- Link to add a new device credential-->
<div [hidden]="tourStarted">
  <div class="new-credential" *ngIf="credentials && credentials.length">
    <a (click)="newCredential()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      {{ 'Credential_management_create_credential' | translate }}
    </a>
  </div>

  <div *ngIf="showContent">
    <div class="tab-content-wrap" *ngIf="!credentials || !credentials.length">
      <div class="tab-content-empty">
        {{ 'Credential_management_nocredential' | translate }}&nbsp;
        <a (click)="newCredential()">
          {{ 'Credential_management_newcredential' | translate }}
        </a>
      </div>
    </div>
    <!--END .tab-content-wrap-->

    <div class="tab-content-wrap" *ngIf="credentials && credentials.length">
      <div class="tab-content">
        <!-- Grid view of credentials-->
        <div class="grid-wrap" *ngIf="credentials && credentials.length">
          <div
            id="{{ grid.meta.tableId }}-right-scroll"
            class="right-scroll"
            (click)="grid.rightScroll()"
            [hidden]="!grid.showRightScroll"
            data-spy="affix"
          >
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
          <div
            id="{{ grid.meta.tableId }}-left-scroll"
            class="left-scroll"
            (click)="grid.leftScroll()"
            [hidden]="!grid.showLeftScroll"
            data-spy="affix"
          >
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>

          <div id="{{ grid.meta.tableId }}" class="smart-grid">
            <table
              class="table"
              [ngClass]="{
                'table-bordered': grid.meta.tableBordered,
                'table-striped': grid.meta.tableStriped
              }"
            >
              <tbody>
                <!--Headers-->
                <tr class="headers">
                  <th class="row-select" *ngIf="grid.meta.selectAll">
                    <div class="custom-checkbox">
                      <input
                        type="checkbox"
                        [(ngModel)]="checkAll"
                        (click)="toggleChecked()"
                        [disabled]="disableCheckAll"
                      />
                      <label></label>
                    </div>
                  </th>
                  <th
                    class="actions"
                    *ngIf="grid.meta.actions"
                    [style.min-width]="grid.meta.actionsWidth"
                    [style.width]="grid.meta.actionsWidth"
                  >
                    <a (click)="gridDo('toggleFilters')"
                      ><i class="fa fa-filter" aria-hidden="true"></i
                    ></a>
                    {{ grid.meta.actionsTitle | translate }}
                  </th>
                  <ng-container
                    *ngFor="let header of grid.headers; let i = index"
                  >
                    <ng-container *ngIf="header.sort !== false">
                      <th
                        class="sortable"
                        [style.min-width]="
                          header.width || grid.meta.minCellWidth
                        "
                        [style.width]="header.width || grid.meta.minCellWidth"
                        (click)="gridDo('sort', i)"
                      >
                        {{ header.title | translate }}
                        <i class="fa fa-sort" aria-hidden="true"></i>
                      </th>
                    </ng-container>
                    <ng-container *ngIf="header.sort === false">
                      <th
                        [style.min-width]="
                          header.width || grid.meta.minCellWidth
                        "
                        [style.width]="header.width || grid.meta.minCellWidth"
                      >
                        {{ header.title | translate }}
                      </th>
                    </ng-container>
                  </ng-container>
                  <th class="blank-column"></th>
                </tr>

                <!--Filters Row-->
                <tr class="filters" *ngIf="grid.showFilters">
                  <td class="row-select" *ngIf="grid.meta.selectAll"></td>
                  <td class="actions" *ngIf="grid.meta.actions">&nbsp;</td>
                  <td *ngFor="let header of grid.headers; let i = index">
                    <ng-container *ngIf="header.filter !== false">
                      <input
                        id="{{ grid.meta.tableId }}-filter-{{ i }}"
                        type="text"
                        (input)="gridDo('filter', i, $event.target.value)"
                      /><!--
                 -->
                      <div
                        class="close-filter"
                        (click)="gridDo('clearFilter', i)"
                      >
                        <i class="fa fa-close" aria-hidden="true"></i>
                      </div>
                    </ng-container>
                  </td>
                  <td class="blank-column"></td>
                </tr>

                <!--Data Rows-->
                <ng-container
                  *ngFor="let credential of credentials; let i = index"
                >
                  <ng-container *ngIf="credential.showRow">
                    <tr>
                      <td class="row-select" *ngIf="grid.meta.selectAll">
                        <div class="custom-checkbox">
                          <input
                            type="checkbox"
                            [(ngModel)]="credential.selected"
                            [disabled]="credential.disabled"
                          />
                          <label></label>
                        </div>
                      </td>

                      <td class="actions" *ngIf="grid.meta.actions">
                        <div class="tools">
                          <button
                            id="{{ grid.meta.tableId }}-btn-tools-{{ i }}"
                            class="btn btn-primary btn-xs btn-tools"
                            (click)="grid.viewActions(i)"
                            data-toggle="tooltip"
                            title="{{ 'Usermgmnt_moreactions' | translate }}"
                          >
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </button>
                        </div>
                        <span
                          id="{{ grid.meta.tableId }}-tools-dropdown-{{ i }}"
                          class="tools-dropdown"
                        >
                          <ul>
                            <!--Edit Credential-->
                            <li (click)="editCredential(credential.alias)">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                              {{ 'Credential_management_edit' | translate }}
                            </li>
                            <!--Delete Credential-->
                            <li (click)="deleteCredential(credential.alias)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              {{ 'Credential_management_delete' | translate }}
                            </li>
                          </ul>
                        </span>
                      </td>

                      <td>{{ credential.alias }}</td>

                      <td>{{ credential.priority }}</td>

                      <td>{{ credential.updated | date: 'medium' }}</td>

                      <td class="blank-column"></td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>

            <div
              class="hide-scroll"
              *ngIf="
                !grid.meta.showBottomScroll &&
                (grid.showRightScroll || grid.showLeftScroll)
              "
            >
              &nbsp;
            </div>
          </div>
          <!--END .smart-grid-->
        </div>
        <!--END .grid-wrap-->
      </div>
    </div>
    <!--END .tab-content-wrap-->
  </div>
</div>
