.new-credential {
  margin: 10px 0;
  padding-left: 10px;
}

.new-credential a {
  color: #1e4a93;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.tab-content-empty a {
  cursor: pointer;
}

.smart-grid {
  overflow-x: visible;
}
