.custom-checkbox {
  margin-right: 5px;
  top: 2px;
}

.modal-dialog {
  width: 760px;
}

.modal-body .error {
  color: red;
  font-weight: bold;
}

.modal-body input[type='checkbox'] {
  float: left;
  display: inline-block;
}

.attributes label,
.attributes input,
.attributes select {
  width: 123px;
}

.attributes .form-group {
  margin-bottom: 0;
}

.attributes hr {
  margin: 5px 0;
}

.attributes .action-bar {
  text-align: right;
}

.profiles {
  padding-top: 3px;
}

.profiles .row:hover {
  color: #1e4a93;
  font-weight: bold;
  cursor: default;
}

.profiles i:hover {
  color: #1e4a93;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  margin-right: 1px;
}
