<div id="modal-credential" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">
          {{
            (addMode
              ? 'Credential_management_addcredential'
              : 'Credential_management_updatecredential') | translate
          }}
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 error">{{ errMessage }}</div>
        </div>

        <div class="row">
          <!-- Attributes-->
          <div class="col-sm-5 attributes">
            <div class="form-group">
              <label class="control-label">
                {{ 'Alias' | translate }}
              </label>
              <input
                #alias
                maxlength="30"
                type="text"
                placeholder=""
                [(ngModel)]="formData.attributes.alias"
                [disabled]="!addMode"
              />
            </div>
            <div class="form-group">
              <label class="control-label">
                {{ 'Username' | translate }}
              </label>
              <input
                #username
                maxlength="30"
                type="text"
                placeholder=""
                [(ngModel)]="formData.attributes.username"
              />
            </div>
            <div class="form-group">
              <label class="control-label">
                {{ 'Password' | translate }}
              </label>
              <input
                maxlength="30"
                type="password"
                placeholder=""
                [(ngModel)]="formData.attributes.password"
              />
            </div>
            <div class="form-group">
              <label class="control-label">
                {{ 'Port' | translate }}
              </label>
              <input
                #port
                maxlength="30"
                type="text"
                placeholder=""
                [(ngModel)]="formData.attributes.port"
              />
            </div>
            <div class="form-group">
              <label class="control-label">
                {{ 'Sudo Password' | translate }}
              </label>
              <input
                maxlength="30"
                type="password"
                placeholder=""
                [(ngModel)]="formData.attributes.sudoPassword"
              />
            </div>
            <div class="form-group">
              <label class="control-label">
                {{ 'Priority' | translate }}
              </label>
              <select [(ngModel)]="formData.attributes.priority">
                <option
                  *ngFor="let p of priorities; let j = index"
                  [ngValue]="p"
                  [attr.data-index]="j"
                  >{{ p | translate }}</option
                >
              </select>
            </div>
            <div *ngIf="!settingsPassPhrase">
              <div class="form-group">
                <label class="control-label">
                  {{ 'Setting_passphrase' | translate }}
                  <i
                    class="fa fa-info-circle"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="{{ 'Setting_encryption_tooltip' | translate }}"
                  ></i>
                </label>

                <input
                  maxlength="30"
                  type="password"
                  placeholder=""
                  [(ngModel)]="formData.attributes.passphrase"
                />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ 'Setting_passphrase_confirm' | translate }}
                </label>
                <input
                  maxlength="30"
                  type="password"
                  placeholder=""
                  [(ngModel)]="formData.attributes.confirmPassphrase"
                />
              </div>
            </div>
            <div class="col-sm-12 action-bar">
              <hr />
              <button type="button" class="btn btn-primary" (click)="save()">
                {{ 'Save' | translate }}
              </button>
            </div>
          </div>
          <!-- Profiles-->
          <div class="col-sm-8 profiles">
            <div *ngIf="formData.profiles.length">
              <div class="row">
                <div class="col-sm-5">
                  <div class="custom-checkbox">
                    <input
                      type="checkbox"
                      [(ngModel)]="allSelected"
                      (change)="toggleAllChecked(allSelected)"
                    />
                    <label></label>
                  </div>
                  <span class="type">{{ 'All' | translate }}</span>
                </div>
              </div>
              <div *ngFor="let type of formData.profiles">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="custom-checkbox">
                      <input
                        type="checkbox"
                        [(ngModel)]="type.selected"
                        (change)="toggleTypeChecked(type)"
                      />
                      <label></label>
                    </div>
                    <span class="type">{{ type.title }}</span>
                  </div>
                  <div class="col-sm-7">
                    <i
                      title="{{ type.showSubtypes ? 'Collapse' : 'Expand' }}"
                      (click)="toggleShowSubtypes(type)"
                      aria-hidden="true"
                      class="fa {{
                        type.showSubtypes
                          ? ' fa-angle-double-down'
                          : ' fa-angle-double-right'
                      }}"
                    ></i>
                  </div>
                </div>
                <div *ngFor="let subtype of type.subtypes">
                  <div *ngIf="type.showSubtypes" class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                      <div class="custom-checkbox">
                        <input
                          type="checkbox"
                          [(ngModel)]="subtype.selected"
                          (change)="updateTypeChecked(type)"
                        />
                        <label></label>
                      </div>
                      <span class="subtype">{{ subtype.title }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
