<div>
  <div class="new-user">
    <a tourAnchor="create-user">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Create User
    </a>
  </div>

  <div>
    <div class="tab-content-wrap">
      <div class="tab-content">
        <!-- Grid view of users-->
        <div class="grid-wrap">
          <div
            id="{{ grid.meta.tableId }}-right-scroll"
            class="right-scroll"
            (click)="grid.rightScroll()"
            [hidden]="!grid.showRightScroll"
            data-spy="affix"
          >
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
          <div
            id="{{ grid.meta.tableId }}-left-scroll"
            class="left-scroll"
            (click)="grid.leftScroll()"
            [hidden]="!grid.showLeftScroll"
            data-spy="affix"
          >
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>

          <div id="{{ grid.meta.tableId }}" class="smart-grid">
            <table
              class="table"
              [ngClass]="{
                'table-bordered': grid.meta.tableBordered,
                'table-striped': grid.meta.tableStriped
              }"
            >
              <tbody>
                <!--Headers-->
                <tr class="headers">
                  <th
                    class="actions"
                    *ngIf="grid.meta.actions"
                    [style.min-width]="grid.meta.actionsWidth"
                    [style.width]="grid.meta.actionsWidth"
                  >
                    <a (click)="gridDo('toggleFilters')"
                      ><i class="fa fa-filter" aria-hidden="true"></i
                    ></a>
                    {{ grid.meta.actionsTitle }}
                  </th>
                  <ng-container
                    *ngFor="let header of grid.headers; let i = index"
                  >
                    <ng-container *ngIf="header.sort !== false">
                      <th
                        class="sortable"
                        [style.min-width]="
                          header.width || grid.meta.minCellWidth
                        "
                        [style.width]="header.width || grid.meta.minCellWidth"
                        (click)="gridDo('sort', i)"
                      >
                        {{ header.title }}
                        <i class="fa fa-sort" aria-hidden="true"></i>
                      </th>
                    </ng-container>
                    <ng-container *ngIf="header.sort === false">
                      <th
                        [style.min-width]="
                          header.width || grid.meta.minCellWidth
                        "
                        [style.width]="header.width || grid.meta.minCellWidth"
                      >
                        {{ header.title }}
                      </th>
                    </ng-container>
                  </ng-container>
                  <th class="blank-column"></th>
                </tr>

                <!--Data Rows-->
                <tr>
                  <td class="actions" *ngIf="grid.meta.actions">
                    <div class="tools">
                      <button
                        tourAnchor="more-actions"
                        id="{{ grid.meta.tableId }}-btn-tools-{{ i }}"
                        class="btn btn-primary btn-xs btn-tools"
                        data-toggle="tooltip"
                        title="More Actions"
                      >
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </button>
                    </div>
                    <span id="tools-dropdown-test" class="tools-dropdown">
                      <ul>
                        <!--Edit User-->
                        <li tourAnchor="edit-user">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                          Edit User
                        </li>
                        <!--Delete User-->
                        <li tourAnchor="delete-user">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          Delete User
                        </li>
                        <!--Change Password-->
                        <li tourAnchor="change-password">
                          <i class="fa fa-key" aria-hidden="true"></i>
                          Change Password
                        </li>
                      </ul>
                    </span>
                  </td>

                  <td>admin</td>

                  <td>admin@mywebsite.com</td>

                  <td>Super Admin</td>

                  <td>Feb 13, 2018, 3:20:30 PM</td>

                  <td class="blank-column"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--END .smart-grid-->
        </div>
        <!--END .grid-wrap-->
      </div>
    </div>
    <!--END .tab-content-wrap-->
  </div>
</div>
