.glyphicon.glyphicon-download-alt {
  color: #fff;
}
.slide-container {
  margin: 10px 20px 0;
}
.slide-container .span-container {
  display: inline-block;
  max-width: 70px;
  height: auto;
  font-weight: normal;
  vertical-align: top;
}
.slide-container span {
  font-size: 14px;
  font-weight: 600;
}
.slide-container span.right {
  text-align: right;
}
.slide-input {
  display: inline-block;
  position: relative;
  width: 40px;
  margin: 5px 5px 0;
  vertical-align: top;
  cursor: pointer;
}
.slide-track {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: #c0c0c0;
}
.slide-button {
  position: absolute;
  left: 0;
  top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: #1e4a93;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slide-button.command-view {
  left: 20px;
}

p.file-location,
p.job-name {
  margin-top: 10px;
}

.basic-options {
  margin-top: 10px;
  margin-bottom: 10px;
}
.basic-option {
  display: inline-block;
  margin-left: 50px;
}
.basic-option:first-child {
  margin-left: 0;
}
.basic-option select,
.basic-option input {
  /*max-width: 250px;*/
  height: 25px;
}

.table-content-wrap {
  width: 100%;
  /*max-height: 400px;*/
  overflow-x: auto;
  overflow-y: auto;
}
.advanced-log table {
  margin: 0;
}
.advanced-log .type {
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ebebeb;
}
.advanced-log .type th {
  border: none;
}
.advanced-log td {
  max-width: 300px;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.content-wrap {
  margin-top: 10px;
  overflow: auto;
}
.left-content-wrap {
  float: left;
  width: 300px;
  height: 400px;
  overflow-y: auto;
}
.right-content-wrap {
  margin-left: 310px;
}
.command-status {
  width: 100%;
  height: 10px;
}
.command-status.success {
  background-color: #28a745;
}
.command-status.error {
  background-color: #dc3545;
}
.command-content,
textarea,
.parse-error {
  width: 100%;
  padding: 5px;
  height: 400px;
  resize: vertical;
  background: #ebebeb;
  border: none;
  overflow-y: auto;
}
.parse-error {
  color: red;
}
textarea:focus {
  outline: none;
}

.left-content-wrap span {
  display: block;
}
.left-content-wrap span.component,
.left-content-wrap div.command {
  margin-top: 5px;
  cursor: pointer;
  padding: 3px 5px;
}
.left-content-wrap div.command {
  margin-left: 15px;
}
.left-content-wrap div.command img {
  display: inline-block;
  margin-top: -3px;
}
.left-content-wrap div.command span {
  display: inline-block;
  color: red;
}
.left-content-wrap div.command i {
  font-size: 16px;
  font-weight: 600;
}
.left-content-wrap div.target {
  margin-top: 5px;
  margin-left: 25px;
  padding: 3px 5px;
  cursor: pointer;
}
.left-content-wrap span.component.highlight,
.left-content-wrap div.command.highlight,
.left-content-wrap div.target.highlight {
  background: linear-gradient(#0067c5, #002855);
  color: #fff;
}
.component-wrap {
  border-bottom: 1px solid #ccc;
}

.command-search-wrap input {
  width: 200px;
  margin: 0;
  margin-bottom: 10px;
}
.command-search-wrap .title {
  font-weight: 600;
}
.command-search-wrap button {
  width: 26px;
  height: 28px;
  margin: 0 0 1px 3px;
}
.command-search-wrap button i {
  margin: 0;
  color: #fff;
}
.command-search-wrap .search-count {
  margin-left: 7px;
}
